.flex-none.w-48
  %ul
    %li= link_to "Profile", profile_path, class: "link"
    %li= link_to "Game", game_path, class: "link"
    %li= link_to "Characters", actors_path, class: "link"
.flex-1
  %h1 Column 2
.flex-none.w-96
  %h3 Column 3
