.w-full
  %h1
    Listing stages

  %table.w-full
    %thead
      %tr
        %th ID
        %th Name
        %th Description
        %th.actions

    %tbody
      - @stages.each do |stage|
        %tr
          %td= stage.id
          %td= stage.name
          %td= stage.description
          %td.actions
            =link_to 'Show', manage_stage_path(stage), class: 'btn action-show'
            =link_to 'Edit', edit_manage_stage_path(stage), class: 'btn action-edit'
            =link_to 'Destroy',
                     manage_stage_path(stage),
                     method: :delete,
                     data: { turbo_method: :delete, confirm: 'Are you sure?' },
                     class: 'btn action-delete'


  = link_to 'New Stage', new_manage_stage_path, class: 'btn action-new'
