.actor{id: dom_id(actor)}
  = link_to actor.name, game_actor_path(actor), data: { turbo_frame: "display-info" }, class: 'link'
  (
  = link_to actor.creature.name, game_creature_path(actor.creature), data: { turbo_frame: "display-info" }, class: 'link'
  )
