= turbo_frame_tag dom_id(@stage, "passages") do
  - if @passages.present?
    %ul
      - @passages.each do |passage|
        %li
          = link_to passage.name,
                    game_passage_path(passage),
                    data: { turbo_frame: "display-info" },
                    class: 'link'
          (
          = link_to passage.direction,
                    game_path(command: :move, direct_id: passage, direct_type: 'Passage'),
                    method: :patch,
                    data: { turbo_method: :patch, turbo_frame: "display-stage" },
                    class: "link"
          )
  - else
    %p No visible passages go out from this area
