.flex-1
  %h2
    Edit Passage:
    = @passage.name

  = render 'form'

  %hr.my-2

  = link_to 'Show', [:manage, @passage], class: 'btn action-show'
  = link_to 'Back', manage_passages_path, class: 'btn action-cancel'
