= turbo_frame_tag dom_id(@stage, "actors") do
  - if @actors.present?
    %ul
      - @actors.each do |actor|
        %li
          = link_to actor.name, stage_actor_path(@stage, actor), data: { turbo_frame: "display-info" }, class: 'link'
          (
          = link_to actor.creature.name, actor.creature, data: { turbo_frame: "_top" }, class: 'link'
          )
  - else
    %p No one is here but you
