.passage{id: dom_id(passage)}
  = link_to passage.name,
            game_passage_path(passage),
            data: { turbo_frame: "display-info" },
            class: 'link'
  = command(passage.direction, command: "Move", direct: passage)

