.passage{id: dom_id(passage)}
  = link_to passage.name,
            game_passage_path(passage),
            data: { turbo_frame: "display-info" },
            class: 'link'
  = link_to "(#{ passage.direction })",
            game_path(type: 'Command::Move', direct_id: passage, direct_type: 'Passage'),
            method: :patch,
            data: { turbo_method: :patch, turbo_frame: "display-stage" },
            class: "link"
