= turbo_frame_tag dom_id(@stage, "passages") do
  - if @passages.present?
    %ul
      - @passages.each do |passage|
        %li
          = link_to passage.name, stage_passage_path(@stage, passage), data: { turbo_frame: "display-info" }, class: 'link'
          (
          = link_to passage.direction, game_stage_path(passage.to), data: { turbo_frame: "display-stage" }, class: "link"
          )
  - else
    %p No visible passages go out from this area
